@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url("/login_background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-size: cover;
}